$mainColor: #B88B58;
$mainColorHover: #8E6B44;
$secondaryColor: #000;

$mainFontColor: #242424;
$secondaryFontColor: #6F6F74;
$thirdFontColor: #626262;
$minorFontColor: #AEAEAE;
$headersFontColor: #FFF;

$separatorColor: #383838;

$tabsPanelColor: #EDEDED;
$tabsPanelBorder: #CFCFCF;

$priceSectionBg: #F7F7F7;

$pseudoAfterFacts: #7E7E7E;

$inputBorder: #A4A4A4;

$iconsBGColor: #BEBEBE;
$footerItemsBGColorDark: #373737;