$mainColor: #B88B58;
$mainColorHover: #8E6B44;
$secondaryColor: #000;

$mainFontColor: #242424;
$secondaryFontColor: #6F6F74;
$minorFontColor: #AEAEAE;
$headersFontColor: #FFF;

$separatorColor: #383838;

$tabsPanelColor: #EDEDED;
$tabsPanelBorder: #CFCFCF;