@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a, a:hover, a:focus, a:link, a:visited, a:active {
  text-decoration: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.top-navbar {
  color: #FFF;
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 4;
}
.top-navbar .container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.top-navbar .container .main-logo-container {
  align-self: center;
}
.top-navbar .container .nav-list {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  list-style-type: none;
  display: flex;
}
.top-navbar .container .nav-list li {
  display: block;
  padding: 2.2rem 0;
}
.top-navbar .container .nav-list li a {
  color: #FFF;
  padding: calc(2.2rem - 7px) 8px;
  transition: 0.3s;
}
.top-navbar .container .nav-list li a:hover {
  border-bottom: 7px solid #B88B58;
}
.top-navbar .container .icon-nav-bar-container {
  display: none;
}
.top-navbar .container .icon-nav-bar-container .fas {
  cursor: pointer;
}

.nav-bar-link__active {
  border-bottom: 7px solid #B88B58;
}

.side-menu-mobile {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #000;
}
.side-menu-mobile .mobile-nav-bar {
  text-align: center;
}
.side-menu-mobile .mobile-nav-bar .nav-list {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  list-style-type: none;
}
.side-menu-mobile .mobile-nav-bar .nav-list li {
  display: block;
  margin: 2rem 0;
}
.side-menu-mobile .mobile-nav-bar .nav-list li a {
  color: #FFF;
  transition: color 0.4s ease;
}
.side-menu-mobile .mobile-nav-bar .nav-list li a:hover {
  color: #B88B58;
}

.phone-btn-sticky {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #B88B58;
  margin: 60px;
  padding: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: 0.3s background-color ease-in-out;
  cursor: pointer;
}
.phone-btn-sticky:hover {
  background-color: #8E6B44;
}

.slider-wrapper {
  height: 100vh;
}
.slider-wrapper .slider-item {
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-wrapper .slider-item .dark-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
}
.slider-wrapper .slider-item .content {
  z-index: 2;
}
.slider-wrapper .slider-item .content .content-header {
  font-size: 4.4rem;
  color: #FFF;
  line-height: 4.1rem;
}
.slider-wrapper .slider-item .content .primary-word {
  margin-bottom: 3rem;
  text-align: center;
  color: #B88B58;
}
.slider-wrapper .slider-item .content .phone-number {
  color: #FFF;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 3rem;
}
.slider-wrapper .slider-item .content .phone-number .phone-hover {
  cursor: pointer;
  transition: color 0.5s ease;
}
.slider-wrapper .slider-item .content .phone-number .phone-hover:hover {
  color: #B88B58;
}
.slider-wrapper .slider-item .content .header-button {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  background-color: #B88B58;
  border: none;
  padding: 12px 32px;
  border-radius: 20px;
  transition: background 0.5s ease;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.slider-wrapper .slider-item .content .header-button:hover {
  background-color: #8E6B44;
}
.slider-wrapper .slider-item1 {
  background-image: url(../img/Header/hero-image-01.jpg);
}
.slider-wrapper .slider-item2 {
  background-image: url(../img/Header/hero-image-02.jpg);
}
.slider-wrapper .slider-item3 {
  background-image: url(../img/Header/hero-image-03.jpg);
}

.slider-btn-disabled {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #B88B58;
  margin: 0 5px 18px 5px;
  transition: all 0.4s linear;
  cursor: pointer;
}
.slider-btn-disabled:hover {
  filter: opacity(70%);
}

.slider-btn-active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px 18px 5px;
  background-color: #B88B58;
  transition: all 0.4s linear;
  cursor: pointer;
}
.slider-btn-active:hover {
  filter: opacity(70%);
}

section, footer {
  padding: 50px 0;
}
section .section-container, footer .section-container {
  width: 1060px;
  margin: 0 auto;
}
section .section-container .header-wrapper, footer .section-container .header-wrapper {
  text-transform: uppercase;
  text-align: center;
}
section .section-container .header-wrapper .section-header, footer .section-container .header-wrapper .section-header {
  font-size: 30px;
  margin-bottom: 15px;
  color: #000;
}
section .section-container .header-wrapper .section-subtitle, footer .section-container .header-wrapper .section-subtitle {
  font-size: 14px;
  margin-bottom: 30px;
  color: #AEAEAE;
}

.about-us-section .section-content {
  display: flex;
}
.about-us-section .section-content .text-wrapper {
  margin-right: 70px;
}
.about-us-section .section-content .text-wrapper p {
  line-height: 150%;
  font-size: 15px;
  color: #242424;
  margin-bottom: 30px;
}
.about-us-section .section-content .text-wrapper button {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  background-color: #B88B58;
  border: none;
  padding: 12px 32px;
  border-radius: 20px;
  transition: background 0.5s ease;
  cursor: pointer;
}
.about-us-section .section-content .text-wrapper button:hover {
  background-color: #8E6B44;
}
.about-us-section .section-content .video-wrapper .video-link {
  cursor: pointer;
}
.about-us-section .section-content .video-wrapper .video-link .video-thumbnail {
  transition: filter 0.5s ease;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.about-us-section .section-content .video-wrapper .video-link .video-thumbnail:hover {
  filter: brightness(1.2);
}

.services-section, .facts-section {
  background-color: #000;
}
.services-section .section-container, .facts-section .section-container {
  width: 1160px;
}
.services-section .section-container .header-wrapper .section-header, .facts-section .section-container .header-wrapper .section-header {
  color: #FFF;
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.services-wrapper .service-item-1 .service-icon {
  background-image: url(../svg/services-icons/services-01.svg);
}
.services-wrapper .service-item-2 .service-icon {
  background-image: url(../svg/services-icons/services-02.svg);
}
.services-wrapper .service-item-3 .service-icon {
  background-image: url(../svg/services-icons/services-03.svg);
}
.services-wrapper .service-item-4 .service-icon {
  background-image: url(../svg/services-icons/services-04.svg);
}
.services-wrapper .service-item {
  width: 25%;
  position: relative;
}
.services-wrapper .service-item::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #383838;
  width: 2px;
  height: 100%;
}
.services-wrapper .service-item .service-icon {
  height: 90px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 60px;
}
.services-wrapper .service-item .service-text {
  text-align: center;
}
.services-wrapper .service-item .service-text .service-header {
  color: #FFF;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.services-wrapper .service-item .service-text .service-description {
  color: #6F6F74;
  font-size: 14px;
  padding: 0 30px;
}
.services-wrapper .service-item-4::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #383838;
  width: 2px;
  height: 100%;
  top: 0;
  left: 100%;
}

.projects-section .section-container .section-content {
  text-align: center;
}
.projects-section .section-container .section-content .btn-wrapper button {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  background-color: #B88B58;
  border: none;
  padding: 12px 32px;
  border-radius: 20px;
  transition: background 0.5s ease;
  cursor: pointer;
}
.projects-section .section-container .section-content .btn-wrapper button:hover {
  background-color: #8E6B44;
}

.tabs-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tabs-wrapper .tabs-panel {
  list-style-type: none;
  display: flex;
  background-color: #EDEDED;
  border: 1px solid #CFCFCF;
  padding: 0 15px;
  border-radius: 25px;
  margin-bottom: 30px;
}
.tabs-wrapper .tabs-panel li {
  padding: 15px 20px;
  border-right: 1px solid #CFCFCF;
  transition: border 0.2s ease;
  cursor: pointer;
}
.tabs-wrapper .tabs-panel li:last-child {
  border-right: 0px;
}
.tabs-wrapper .tabs-panel li:hover {
  border-bottom: 6px solid #B88B58;
}
.tabs-wrapper .tabs-panel li button {
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
}
.tabs-wrapper .tabs-items-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-1 {
  background-image: url(../img/Projects/projects-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-2 {
  background-image: url(../img/Projects/projects-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-3 {
  background-image: url(../img/Projects/projects-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-4 {
  background-image: url(../img/Projects/projects-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-5 {
  background-image: url(../img/Projects/projects-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-6 {
  background-image: url(../img/Projects/projects-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-7 {
  background-image: url(../img/Projects/projects-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-8 {
  background-image: url(../img/Projects/projects-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-9 {
  background-image: url(../img/Projects/projects-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-10 {
  background-image: url(../img/Projects/projects-10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-11 {
  background-image: url(../img/Projects/projects-11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item-12 {
  background-image: url(../img/Projects/projects-12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tabs-wrapper .tabs-items-wrapper .tabs-item {
  width: 250px;
  height: 160px;
  margin-bottom: 25px;
}

.tabs-item .card-content {
  height: 100%;
  background-color: #000;
  opacity: 0;
  color: #AEAEAE;
  padding: 20px;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tabs-item .card-content .card-header {
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 10px;
  text-align: center;
}
.tabs-item .card-content .card-descript {
  text-align: center;
  font-size: 14px;
}
.tabs-item:hover .card-content {
  opacity: 0.8;
}

.clients-section {
  background-color: #000;
  background-image: url(../img/Clients/bg-clients.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.clients-section .section-container .header-wrapper .section-header {
  color: #FFF;
}

.gallery-item .item-container {
  color: #FFF;
  width: 700px;
  margin: 0 auto;
}
.gallery-item .item-container .photo-wrapper {
  width: 154px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.gallery-item .item-container .photo-wrapper img {
  width: 100%;
  display: block;
  height: auto;
}
.gallery-item .item-container .header-wrapper {
  margin-bottom: 20px;
}
.gallery-item .item-container .header-wrapper .client-name {
  text-transform: none;
  font-size: 24px;
  margin-bottom: 10px;
}
.gallery-item .item-container .header-wrapper .client-description {
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  color: #AEAEAE;
}
.gallery-item .item-container .client-quote {
  color: #6F6F74;
  text-align: center;
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 150%;
}
.gallery-item .item-container .client-quote::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 27px;
  content: "";
  display: block;
  margin-bottom: 10px;
}

.brands-logos-section .section-container {
  width: 100%;
}

.brands-logos-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.brands-logos-list .brand-logo {
  margin: 0 30px;
  margin-bottom: 45px;
  transition: filter 0.2s linear;
}
.brands-logos-list .brand-logo:hover {
  filter: brightness(1.15);
}

.price-section {
  background-color: #F7F7F7;
}

.subscriptions-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.subscriptions-wrapper .subscription-item {
  width: 250px;
  text-align: center;
}
.subscriptions-wrapper .subscription-item .subscr-name {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 20px;
}
.subscriptions-wrapper .subscription-item .price {
  font-weight: bold;
  font-size: 32px;
  color: #242424;
}
.subscriptions-wrapper .subscription-item .price::before {
  content: "$";
}
.subscriptions-wrapper .subscription-item .price::after {
  content: "/month";
  display: block;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #6F6F74;
}
.subscriptions-wrapper .subscription-item .feature {
  color: #626262;
  font-size: 12px;
  display: block;
  position: relative;
  margin-bottom: 21px;
}
.subscriptions-wrapper .subscription-item .feature::after {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  margin: 0 auto;
  background-color: #626262;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}
.subscriptions-wrapper .subscription-item .feature:last-child::after {
  display: none;
}
.subscriptions-wrapper .subscription-item .subscr-choose-btn {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  background-color: #B88B58;
  border: none;
  padding: 12px 32px;
  border-radius: 20px;
  transition: background 0.5s ease;
  cursor: pointer;
  background-color: #242424;
  margin-top: 15px;
}
.subscriptions-wrapper .subscription-item .subscr-choose-btn:hover {
  background-color: #8E6B44;
}

.premium-wrapper {
  display: flex;
}
.premium-wrapper .description-container {
  display: flex;
  align-items: center;
}
.premium-wrapper .description-container .features-list {
  list-style-type: none;
}
.premium-wrapper .description-container .features-list .feature {
  display: flex;
  margin-bottom: 20px;
}
.premium-wrapper .description-container .features-list .feature::before {
  content: "";
  background-image: url(../img/Premium/premium-icon.png);
  background-repeat: no-repeat;
  display: block;
  min-width: 34px;
  height: 30px;
  margin-right: 20px;
}
.premium-wrapper .description-container .features-list .feature .feature-header {
  text-transform: uppercase;
  font-size: 20px;
  color: #242424;
  margin-bottom: 10px;
}
.premium-wrapper .description-container .features-list .feature .feature-text {
  color: #6F6F74;
  font-size: 15px;
  line-height: 20px;
}

.btn-container {
  text-align: center;
}
.btn-container button {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  background-color: #B88B58;
  border: none;
  padding: 12px 32px;
  border-radius: 20px;
  transition: background 0.5s ease;
  cursor: pointer;
}
.btn-container button:hover {
  background-color: #8E6B44;
}

.facts-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.facts-container .fact-item {
  width: 180px;
  text-align: center;
}
.facts-container .fact-item .main-digit {
  color: #B88B58;
  font-size: 44px;
  font-weight: bold;
}
.facts-container .fact-item .main-digit::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background-color: #7E7E7E;
  margin: 0 auto;
  margin-bottom: 10px;
}
.facts-container .fact-item .fact-header {
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}
.facts-container .fact-item .fact-descript {
  color: #626262;
  font-size: 13px;
  line-height: 20px;
}

.share-section .section-container {
  display: flex;
  justify-content: center;
}
.share-section .section-container .header-wrapper .section-subtitle {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 80px;
}
.share-section .section-container .header-wrapper .section-subtitle::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 25px;
  background-image: url(../svg/icons/share.svg);
  margin-right: 20px;
}

.social-medias-links-container {
  list-style-type: none;
  display: flex;
}
.social-medias-links-container .social-media-wrapper {
  margin-right: 35px;
}
.social-medias-links-container .social-media-wrapper:last-child {
  margin-right: 0;
}
.social-medias-links-container .social-media-wrapper .social-media-link {
  display: flex;
  align-items: center;
}
.social-medias-links-container .social-media-wrapper .social-media-link .social-media-icon {
  font-size: 30px;
  margin-right: 5px;
  transition: 0.2s color ease-in-out;
}
.social-medias-links-container .social-media-wrapper .social-media-link .social-media-icon:hover, .social-medias-links-container .social-media-wrapper .social-media-link .social-media-icon:hover ~ .share-number {
  color: #8E6B44;
}
.social-medias-links-container .social-media-wrapper .social-media-link .fa-twitter-square {
  color: #34C5F0;
}
.social-medias-links-container .social-media-wrapper .social-media-link .fa-linkedin {
  color: #127CB3;
}
.social-medias-links-container .social-media-wrapper .social-media-link .fa-facebook-square {
  color: #336297;
}
.social-medias-links-container .social-media-wrapper .social-media-link .fa-instagram-square {
  color: #DD2A7B;
}
.social-medias-links-container .social-media-wrapper .social-media-link .fa-pinterest {
  color: #B71C29;
}
.social-medias-links-container .social-media-wrapper .social-media-link .share-number {
  color: #AEAEAE;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s color ease-in-out;
}

.form-wrapper {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.form-wrapper input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #A4A4A4;
  padding-bottom: 20px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  transition: 0.4s;
  margin-bottom: 40px;
}
.form-wrapper input:focus {
  outline: none;
  color: #B88B58;
  border-bottom: 2px solid #B88B58;
}
.form-wrapper textarea {
  width: 100%;
  min-height: 100px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 2px solid #A4A4A4;
  transition: 0.4s;
  margin-bottom: 40px;
}
.form-wrapper textarea:focus {
  outline: none;
  color: #B88B58;
  border-bottom: 2px solid #B88B58;
}
.form-wrapper .name-input-wrapper {
  width: 50%;
  padding-right: 20px;
}
.form-wrapper .email-input-wrapper {
  width: 50%;
}
.form-wrapper .subject-input-wrapper {
  width: 100%;
}
.form-wrapper .message-input-wrapper {
  width: 100%;
}
.form-wrapper .btn-wrapper {
  text-align: center;
  width: 100%;
}
.form-wrapper .btn-wrapper .form-submit {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  background-color: #B88B58;
  border: none;
  padding: 12px 32px;
  border-radius: 20px;
  transition: background 0.5s ease;
  cursor: pointer;
}
.form-wrapper .btn-wrapper .form-submit:hover {
  background-color: #8E6B44;
}

.map-section {
  padding-bottom: 0;
}
.map-section .container {
  position: relative;
}
.map-section .container .map {
  width: 100%;
}
.map-section .container .agency-info {
  position: absolute;
  top: 17%;
  left: 2%;
}
.map-section .container .go-up-btn-wrapper {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  left: 10%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  font-size: 40px;
  font-weight: 900;
  background-color: #B88B58;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s background-color ease-in-out;
}
.map-section .container .go-up-btn-wrapper:hover {
  background-color: #8E6B44;
}

.agency-info {
  display: flex;
}
.agency-info .agency-info-list {
  list-style-type: none;
  color: #626262;
  font-size: 17px;
  line-height: 170%;
  background-color: white;
  padding: 40px;
}
.agency-info .agency-info-list .agency-info-text {
  margin-bottom: 25px;
}
.agency-info .agency-info-list .agency-info-text:last-child {
  margin-bottom: 0;
}
.agency-info .agency-info-list .agency-info-text::before {
  font-family: "Font Awesome 5 Free";
  color: white;
  background-color: #BEBEBE;
  border: none;
  border-radius: 50%;
  margin-right: 7px;
  padding: 8px;
  transition: 0.2s background-color ease-in-out;
  cursor: pointer;
}
.agency-info .agency-info-list .agency-info-text:hover::before {
  background-color: #B88B58;
}
.agency-info .agency-info-list .agency-info-text:nth-child(1)::before {
  content: "";
}
.agency-info .agency-info-list .agency-info-text:nth-child(2)::before {
  content: "";
}
.agency-info .agency-info-list .agency-info-text:nth-child(3)::before {
  content: "";
}
.agency-info .agency-info-list .agency-info-text:nth-child(4)::before {
  content: "";
}
.agency-info .agency-info-list .agency-info-text:nth-child(5)::before {
  content: "";
}

footer {
  background-color: #000;
}
footer .section-container {
  display: flex;
  position: relative;
}
footer .section-container .social-wrapper-icons {
  width: 33.3%;
  color: #AEAEAE;
  display: flex;
  flex-wrap: wrap;
}
footer .section-container .social-wrapper-icons i {
  font-size: 15px;
  background-color: #373737;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  transition: 0.3s background-color ease-in-out;
  cursor: pointer;
}
footer .section-container .social-wrapper-icons i:hover {
  background-color: #B88B58;
}
footer .section-container .text-footer-wrapper {
  width: 33.3%;
  font-size: 14px;
  color: #626262;
  margin: 0 30px;
}
footer .section-container .form-footer {
  background-color: #373737;
  width: 33.3%;
}
footer .section-container .form-footer .subscribe-form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .section-container .form-footer .subscribe-form .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .section-container .form-footer .subscribe-form .form-container .email-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #AEAEAE;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #AEAEAE;
  font-size: 13px;
  transition: 0.3s ease-in-out;
  transition-property: border-color, color;
}
footer .section-container .form-footer .subscribe-form .form-container .email-input:focus {
  border-color: #B88B58;
  color: #B88B58;
}
footer .section-container .form-footer .subscribe-form .form-container .subscr-btn {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  background-color: #B88B58;
  border: none;
  padding: 12px 32px;
  border-radius: 20px;
  transition: background 0.5s ease;
  cursor: pointer;
  padding: 12px 0;
  width: 60%;
}
footer .section-container .form-footer .subscribe-form .form-container .subscr-btn:hover {
  background-color: #8E6B44;
}
footer .section-container .copyright-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #FFF;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
