@media only screen and (min-width: 1575px) {
  .brands-logos-list .brand-logo {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 13px;
  }

  .top-navbar .container {
    width: 100%;
    padding: 0 4rem;
  }

  section .section-container, footer .section-container {
    width: 930px;
  }

  .services-section .section-container, .facts-section .section-container {
    width: 100%;
  }

  .services-wrapper .service-item-1::after {
    display: none;
  }
  .services-wrapper .service-item-1::before {
    display: none;
  }
  .services-wrapper .service-item-1 {
    padding-bottom: 40px;
  }
  .services-wrapper .service-item-2::after {
    display: none;
  }
  .services-wrapper .service-item-2 {
    padding-bottom: 40px;
  }
  .services-wrapper .service-item-3::after {
    display: none;
  }
  .services-wrapper .service-item-3::before {
    display: none;
  }
  .services-wrapper .service-item-4::after {
    display: none;
  }
  .services-wrapper .service-item {
    width: 50%;
  }

  .tabs-wrapper .tabs-items-wrapper .tabs-item {
    width: 200px;
    height: 130px;
  }

  .subscriptions-wrapper .subscription-item {
    width: 25%;
  }
}
@media only screen and (max-width: 960px) {
  .top-navbar .container {
    padding: 10px 6rem;
  }
  .top-navbar .container .nav-list {
    display: none;
  }
  .top-navbar .container .icon-nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
  }

  section .section-container, footer .section-container {
    width: 690px;
  }

  .about-us-section .section-container .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-us-section .section-container .section-content .text-wrapper {
    text-align: center;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .subscriptions-wrapper .subscription-item {
    width: 50%;
    margin-bottom: 50px;
  }

  .premium-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .premium-wrapper .image-container {
    margin-bottom: 35px;
  }

  .facts-container .fact-item {
    width: 50%;
    padding: 0 10%;
  }

  footer .section-container {
    flex-direction: column;
  }
  footer .section-container .social-wrapper-icons {
    width: 100%;
    order: 2;
    margin-bottom: 20px;
    justify-content: center;
  }
  footer .section-container .text-footer-wrapper {
    width: 100%;
    order: 3;
    margin: 0;
    margin-bottom: 40px;
  }
  footer .section-container .form-footer {
    width: 100%;
    order: 1;
    margin-bottom: 20px;
    padding: 50px 0;
  }
  footer .section-container .copyright-wrapper {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 10px;
  }

  section .section-container, footer .section-container {
    width: 480px;
  }

  .tabs-wrapper .tabs-panel {
    flex-wrap: wrap;
  }
  .tabs-wrapper .tabs-panel li {
    width: 33%;
  }
  .tabs-wrapper .tabs-panel li:nth-child(-n+3) {
    border-bottom: 1px solid #CFCFCF;
  }
  .tabs-wrapper .tabs-panel li:nth-child(3) {
    border-right: 0px;
  }

  .gallery-item .item-container {
    width: 100%;
  }

  .share-section .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .share-section .section-container .header-wrapper {
    margin-bottom: 20px;
  }
  .share-section .section-container .header-wrapper .section-subtitle {
    margin-right: 0;
  }

  .map-section .container .agency-info {
    position: static;
  }
}
@media only screen and (max-width: 560px) {
  .tabs-wrapper .tabs-items-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .tabs-wrapper .tabs-items-wrapper .tabs-item {
    width: 250px;
    height: 160px;
  }

  .facts-container {
    flex-direction: column;
    align-items: center;
  }
  .facts-container .fact-item {
    margin-bottom: 30px;
    padding: 0;
  }

  .form-wrapper .name-input-wrapper {
    width: 100%;
  }
  .form-wrapper .email-input-wrapper {
    width: 100%;
  }

  footer .section-container {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }

  .top-navbar .container {
    padding: 10px 4rem;
  }

  section .section-container, footer .section-container {
    width: 100%;
  }

  .about-us-section .section-container .section-content {
    padding: 0 20px;
  }

  .services-wrapper .service-item {
    width: 100%;
  }
  .services-wrapper .service-item-1 {
    padding-bottom: 0;
    margin-bottom: 40px;
  }
  .services-wrapper .service-item-1::before {
    display: none;
  }
  .services-wrapper .service-item-2 {
    padding-bottom: 0;
    margin-bottom: 40px;
  }
  .services-wrapper .service-item-2::before {
    display: none;
  }
  .services-wrapper .service-item-3 {
    padding-bottom: 0;
    margin-bottom: 40px;
  }
  .services-wrapper .service-item-3::before {
    display: none;
  }
  .services-wrapper .service-item-4 {
    padding-bottom: 0;
  }
  .services-wrapper .service-item-4::before {
    display: none;
  }

  .tabs-wrapper .tabs-panel li {
    padding: 10px 6px;
    text-align: center;
  }
  .tabs-wrapper .tabs-panel li button {
    font-size: 13px;
  }

  .premium-wrapper .description-container {
    padding: 0 20px;
  }

  .form-wrapper {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=media.css.map */
