@use "abstracts/mixins";
@use "abstracts/colors";

@media only screen and (min-width: 1575px) {
    .brands-logos-list {
        .brand-logo {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 13px;
    }
    .top-navbar {
        .container {
            width: 100%;
            padding: 0 4rem;
        }
    }
    section {
        .section-container {
            width: 930px;
        }
    }
    .services-section, .facts-section {
        .section-container {
            width: 100%;
        }
    }
    .services-wrapper {
        @for $i from 1 through 4 {
            .service-item-#{$i}::after {
                display: none;
            }
            @if ($i % 2 == 1) {
                .service-item-#{$i}::before {
                    display: none;
                }
            }
            @if ($i <= 2) {
                .service-item-#{$i} {
                    padding-bottom: 40px;
                }
            }
        }
        .service-item {
            width: 50%;
        }
    }
    .tabs-wrapper {
        .tabs-items-wrapper {
            .tabs-item {
                width: 200px;
                height: 130px;
            }
        }
    }
    .subscriptions-wrapper {
        .subscription-item {
            width: 25%;
        }
    }
}

@media only screen and (max-width: 960px) {
    .top-navbar {
        .container {
            padding: 10px 6rem;
            .nav-list {
                display: none;
            }
            .icon-nav-bar-container {
                @include mixins.flex-center();
                font-size: 3.2rem;
            }
        }
    }
    section {
        .section-container {
            width: 690px;
        }
    }
    .about-us-section {
        .section-container {
            .section-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                .text-wrapper {
                    text-align: center;
                    margin-bottom: 40px;
                    margin-right: 0;
                }
            }
        }
    }
    .subscriptions-wrapper {
        .subscription-item {
            width: 50%;
            margin-bottom: 50px;
        }
    }
    .premium-wrapper {
        flex-direction: column;
        align-items: center;
        .image-container {
            margin-bottom: 35px;
        }
    }
    .facts-container {
        .fact-item {
            width: 50%;
            padding: 0 10%;
        }
    }
}

@media only screen and (max-width: 750px) {
    html {
        font-size: 10px;
    }
    section {
        .section-container {
            width: 480px;
        }
    }
    .tabs-wrapper {
        .tabs-panel {
            flex-wrap: wrap;
            li {
                width: 33%;
                &:nth-child(-n+3) {
                    border-bottom: 1px solid colors.$tabsPanelBorder;
                }
                &:nth-child(3) {
                    border-right: 0px;
                }
            }
        }
    }
    .gallery-item {
        .item-container {
            width: 100%;
        }
    }
    .share-section {
        .section-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .header-wrapper {
                margin-bottom: 20px;
                .section-subtitle {
                    margin-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 560px) {
    .tabs-wrapper {
        .tabs-items-wrapper {
            flex-direction: column;
            align-items: center;
            .tabs-item {
                width: 250px;
                height: 160px;
            }
        }
    }
    .facts-container {
        flex-direction: column;
        align-items: center;
        .fact-item {
            margin-bottom: 30px;
            padding: 0;
        }
    }
    .form-wrapper {
        .name-input-wrapper {
            width: 100%;
        }
        .email-input-wrapper {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 8px;
    }
    .top-navbar {
        .container {
            padding: 10px 4rem;
        }
    }
    section {
        .section-container {
            width: 100%;
        }
    }
    .about-us-section {
        .section-container {
            .section-content {
                padding: 0 20px;
            }
        }
    }
    .services-wrapper {
        .service-item {
            width: 100%;
        }
        @for $i from 1 through 4 {
            .service-item-#{$i} {
                padding-bottom: 0;
                @if ($i < 4) {
                    margin-bottom: 40px;
                }
            }
            .service-item-#{$i}::before {
                display: none;
            }
        }
    }
    .tabs-wrapper {
        .tabs-panel {
            li {
                padding: 10px 6px;
                text-align: center;
                button {
                    font-size: 13px;
                }
            }
        }
    }
    .premium-wrapper {
        .description-container {
            padding: 0 20px;
        }
    }
    .form-wrapper {
        padding: 0 20px;
    }
}